.body-div {
  background-color: burlywood;
  height: 100vh;
}

.form-div {
  background-color: white;
}

.sub-button {
  margin: 0px 170px;
}

.image-width {
  height: 26vh;
  width: 20vw;
}

.insidediv1 {
  display: flex;
  justify-content: space-between;
}

.span2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
